In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [2]:
csv_path1 = Path("2016_Income_Data.csv")
income1_df = pd.read_csv(csv_path1, encoding="UTF=8")
income1_df

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
0,Type of Household,Married-couple,"87,057",695,"60,804"
1,Type of Household,"Female householder, no spouse present","41,027",871,"15,572"
2,Type of Household,"Male householder, no spouse present","58,051","2,172","6,452"
3,Type of Household,Female householder,"30,572",603,"22,858"
4,Type of Household,Male householder,"41,749",701,"20,539"
5,Race and Ethnicity,White,"61,858",549,"99,400"
6,Race and Ethnicity,Black,"39,490","1,187","16,733"
7,Race and Ethnicity,Asian,"81,431","1,917","6,392"
8,Race and Ethnicity,Hispanic (any race),"47,675","1,113","16,915"
9,Age of Householder,15 to 24 years,"41,655","1,145","6,238"
10,Age of Householder,25 to 34 years,"60,932",802,"20,109"
11,Age of Householder,35 to 44 years,"74,481","1,834","21,500"
12,Age of Householder,45 to 54 years,"77,213","1,156","22,808"
13,Age of Householder,55 to 64 years,"65,239","1,309","23,770"
14,Age of Householder,65 years and older,"39,823",909,"31,799"

In [5]:
csv_path2 = Path("2020_Income_Data.csv")
income2_df = pd.read_csv(csv_path2, encoding="UTF=8")
income2_df

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
0,Type of Household,Married-couple,"101,517",850,"61,454"
1,Type of Household,"Female householder, no spouse present","49,214","1,444","15,490"
2,Type of Household,"Male householder, no spouse present","67,304","2,317","6,963"
3,Type of Household,Female householder,"35,574",685,"24,244"
4,Type of Household,Male householder,"47,259","1,227","21,781"
5,Race and Ethnicity,White,"71,231",736,"101,582"
6,Race and Ethnicity,Black,"45,870","1,268","17,358"
7,Race and Ethnicity,Asian,"94,903","3,794","6,987"
8,Race and Ethnicity,Hispanic (any race),"55,321","1,183","18,349"
9,Age of Householder,15 to 24 years,"46,886","1,540","5,485"
10,Age of Householder,25 to 34 years,"71,566","1,154","20,654"
11,Age of Householder,35 to 44 years,"85,694","1,712","22,105"
12,Age of Householder,45 to 54 years,"90,359","1,958","21,663"
13,Age of Householder,55 to 64 years,"74,270","2,105","24,336"
14,Age of Householder,65 years and older,"46,360",934,"35,688"

In [7]:
csv_path3 = Path("2016_Voter_Data.csv")
voter1_df = pd.read_csv(csv_path3, encoding="UTF=8")
voter1_df

  Voting-Eligible Population (VEP) Total Ballots Counted (Estimate)
0                      230,931,921                      138,846,571

In [9]:
csv_path4 = Path("2020_Voter_Data.csv")
voter2_df = pd.read_csv(csv_path4, encoding="UTF=8")
voter2_df

  Voting-Eligible Population (VEP) Total Ballots Counted (Estimate)
0                      239,924,038                      159,738,337

In [11]:
# House Type Income DataFrame 2016
housetype1_df = income1_df.iloc[0:5]
housetype1_df

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
0,Type of Household,Married-couple,"87,057",695,"60,804"
1,Type of Household,"Female householder, no spouse present","41,027",871,"15,572"
2,Type of Household,"Male householder, no spouse present","58,051","2,172","6,452"
3,Type of Household,Female householder,"30,572",603,"22,858"
4,Type of Household,Male householder,"41,749",701,"20,539"

In [13]:
# House Type Income DataFrame 2020
housetype2_df = income2_df.iloc[0:5]
housetype2_df

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
0,Type of Household,Married-couple,"101,517",850,"61,454"
1,Type of Household,"Female householder, no spouse present","49,214","1,444","15,490"
2,Type of Household,"Male householder, no spouse present","67,304","2,317","6,963"
3,Type of Household,Female householder,"35,574",685,"24,244"
4,Type of Household,Male householder,"47,259","1,227","21,781"

In [15]:
# Ethnicity Income DataFrame 2016
ethnicity1_df = income1_df.iloc[5:9]
ethnicity1_df

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
5,Race and Ethnicity,White,"61,858",549,"99,400"
6,Race and Ethnicity,Black,"39,490","1,187","16,733"
7,Race and Ethnicity,Asian,"81,431","1,917","6,392"
8,Race and Ethnicity,Hispanic (any race),"47,675","1,113","16,915"

In [17]:
# Ethnicity Income DataFrame 2020
ethnicity2_df = income2_df.iloc[5:9]
ethnicity2_df

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
5,Race and Ethnicity,White,"71,231",736,"101,582"
6,Race and Ethnicity,Black,"45,870","1,268","17,358"
7,Race and Ethnicity,Asian,"94,903","3,794","6,987"
8,Race and Ethnicity,Hispanic (any race),"55,321","1,183","18,349"

In [19]:
# Age Income DataFrame 2016
age1_df = income1_df.iloc[9:15]
age1_df

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
9,Age of Householder,15 to 24 years,"41,655","1,145","6,238"
10,Age of Householder,25 to 34 years,"60,932",802,"20,109"
11,Age of Householder,35 to 44 years,"74,481","1,834","21,500"
12,Age of Householder,45 to 54 years,"77,213","1,156","22,808"
13,Age of Householder,55 to 64 years,"65,239","1,309","23,770"
14,Age of Householder,65 years and older,"39,823",909,"31,799"

In [21]:
# Age Income DataFrame 2020
age2_df = income2_df.iloc[9:15]
age2_df

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
9,Age of Householder,15 to 24 years,"46,886","1,540","5,485"
10,Age of Householder,25 to 34 years,"71,566","1,154","20,654"
11,Age of Householder,35 to 44 years,"85,694","1,712","22,105"
12,Age of Householder,45 to 54 years,"90,359","1,958","21,663"
13,Age of Householder,55 to 64 years,"74,270","2,105","24,336"
14,Age of Householder,65 years and older,"46,360",934,"35,688"

In [23]:
housetype_merge = pd.merge(housetype1_df, housetype2_df, how="left", on="Sub-Category")
housetype_merge

,Category_x,Sub-Category,Median Income Estimate (dollars)_x,Margin of error (±)_x,Number (thousands)_x,Category_y,Median Income Estimate (dollars)_y,Margin of error (±)_y,Number (thousands)_y
0,Type of Household,Married-couple,"87,057",695,"60,804",Type of Household,"101,517",850,"61,454"
1,Type of Household,"Female householder, no spouse present","41,027",871,"15,572",Type of Household,"49,214","1,444","15,490"
2,Type of Household,"Male householder, no spouse present","58,051","2,172","6,452",Type of Household,"67,304","2,317","6,963"
3,Type of Household,Female householder,"30,572",603,"22,858",Type of Household,"35,574",685,"24,244"
4,Type of Household,Male householder,"41,749",701,"20,539",Type of Household,"47,259","1,227","21,781"

In [25]:
ethnicity_merge = pd.merge(ethnicity1_df, ethnicity2_df, how="left", on="Sub-Category")
ethnicity_merge

,Category_x,Sub-Category,Median Income Estimate (dollars)_x,Margin of error (±)_x,Number (thousands)_x,Category_y,Median Income Estimate (dollars)_y,Margin of error (±)_y,Number (thousands)_y
0,Race and Ethnicity,White,"61,858",549,"99,400",Race and Ethnicity,"71,231",736,"101,582"
1,Race and Ethnicity,Black,"39,490","1,187","16,733",Race and Ethnicity,"45,870","1,268","17,358"
2,Race and Ethnicity,Asian,"81,431","1,917","6,392",Race and Ethnicity,"94,903","3,794","6,987"
3,Race and Ethnicity,Hispanic (any race),"47,675","1,113","16,915",Race and Ethnicity,"55,321","1,183","18,349"

In [27]:
age_merge = pd.merge(age1_df, age2_df, how="left", on="Sub-Category")
age_merge

,Category_x,Sub-Category,Median Income Estimate (dollars)_x,Margin of error (±)_x,Number (thousands)_x,Category_y,Median Income Estimate (dollars)_y,Margin of error (±)_y,Number (thousands)_y
0,Age of Householder,15 to 24 years,"41,655","1,145","6,238",Age of Householder,"46,886","1,540","5,485"
1,Age of Householder,25 to 34 years,"60,932",802,"20,109",Age of Householder,"71,566","1,154","20,654"
2,Age of Householder,35 to 44 years,"74,481","1,834","21,500",Age of Householder,"85,694","1,712","22,105"
3,Age of Householder,45 to 54 years,"77,213","1,156","22,808",Age of Householder,"90,359","1,958","21,663"
4,Age of Householder,55 to 64 years,"65,239","1,309","23,770",Age of Householder,"74,270","2,105","24,336"
5,Age of Householder,65 years and older,"39,823",909,"31,799",Age of Householder,"46,360",934,"35,688"