In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [7]:
csv_path1 = Path("Project_1/2016_Income_Data.csv")
housetype_df = pd.read_csv(csv_path1, encoding="UTF=8")
housetype_df.head()

,Category,Sub-Category,Median Income Estimate (dollars),Margin of error (±),Number (thousands)
0,Type of Household,Married-couple,"87,057",695,"60,804"
1,Type of Household,"Female householder, no spouse present","41,027",871,"15,572"
2,Type of Household,"Male householder, no spouse present","58,051","2,172","6,452"
3,Type of Household,Female householder,"30,572",603,"22,858"
4,Type of Household,Male householder,"41,749",701,"20,539"